<!DOCTYPE html>
<html>
    <head>
        <title>Adding AngularJS to Existing Apps - With Data Service</title>

        <!-- style counts -->
        <link rel="stylesheet" href="/common/css/normalize.css">
        <link rel="stylesheet" href="/common/css/main.css">

        <!-- core scripts -->
        <script src="/common/angular/angular.min.js"></script>

        <!-- app scripts -->
        <script>
            'use strict';

            //App module.
            var app = angular.module('basic-app-with-data', []);

            //Controller
            app.controller('MainCtrl', function($scope, BeerSvc) {

              $scope.title = "With Data Service";

              $scope.gimme = function() {
                BeerSvc.getBeers().then(function(results) {
                    $scope.beers = results;
                    $scope.title = "I got beers!";
                    console.log($scope.beers);
                });              
              };

            });

            //Service 
            app.service('BeerSvc', function($http) {

                this.getBeers = function() {
                    return $http.get('/beers/data_json.cfc?method=getBeers').then(function(results) {
                        return results.data;
                    });
                };

            });

        </script>

    </head>
    <body ng-app="basic-app-with-data" ng-controller="MainCtrl">
        <h2 id="title">Adding AngularJS to Existing Apps - {{title}}</h2>
        <button ng-click="gimme()">Gimme beers</button>
        <div>
            <ul>
                <li ng-repeat="beer in beers | limitTo: 25">{{beer.NAME}}</li>
            </ul>
        </div>
    </body>
</html>