.reveal blockquote {
  border-left: 10px solid #666;
  border-left: 10px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  padding-left: 0.5em;
  text-align: left;
}
.reveal pre code {
  padding: 20px;
}
.nocap {
    text-transform: none;
}

.logo {
    position: relative; !important
    float: left; !important
    padding: 10px; !important
}

.large-li {
  font-size: 22pt; !important
}

.demo {
  display: block; !important
  padding-right: 10px;

}

.reveal section {
  width: 10px; !important
}